employees {
  background-color: #000000;
  width: 100%;
}
employee {
  display: block;
  margin-bottom: 30pt;
  margin-left: 0pt;
}
name {
  display: block;

  color: #ff0000;
  font-size: 20pt;
}
phone {
  display: block;

  margin: auto;
  color: #5635dc;
  font-size: 20pt;
}
Address {
  display: block;

  color: #00ff00;
  font-size: 20pt;
}
